<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExamenDatos.Properties.Settings.CsDB" connectionString="Data Source=SQL8001.site4now.net;Initial Catalog=db_a8537e_examen;Persist Security Info=True;User ID=db_a8537e_examen_admin;Password=Xamarin123."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>