@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/clienteSC.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            loadData();
        });

    });
</script>
<div class="container">
    <h2>Lista de Clientes</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Nuevo Cliente</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Rfc
                </th>
                <th>
                    Direccíon
                </th>
                <th>
                    CP
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Cliente</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">ID</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="Rfc">RFC</label>
                        <input type="text" class="form-control" id="Rfc" placeholder="Rfc" maxlength="15" />
                    </div>
                    <div class="form-group">
                        <label for="Direccion">Direccíon</label>
                        <input type="text" class="form-control" id="Direccion" placeholder="Direccíon" />
                    </div>
                    <div class="form-group">
                        <label for="Cp">CP</label>
                        <input type="text" class="form-control" id="Cp" placeholder="CP" maxlength="5" />
                    </div>
                    <div class="form-group">
                        <label for="Correo">Correo</label>
                        <input type="text" class="form-control" id="Correo" placeholder="Correo" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>  